#ignore the venv folder
venv/

#byte-compiled / cache
__pycache__/
*.py[cod]

#VS Code settings
.vscode/

#Mac/Linux System Files
.DS_Store
.env

#ignore movie data folder
movie_data/

#ignore json file
watchlist.json
reviews.json
favorites.json